header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid gray 0.5px;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
}

h2 {
  width: 70vw;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 200;
}

h3 {
  padding-top: 4px;
  font-size: 21px;
  font-weight: 200;
  padding-right: 5px;
}

.drop-parent {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

select {
  font-size: 18px;
}

.main-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

#bubbleChart {
  padding: 0px;
  width: 100vw;
  margin: 0 auto;
  height: 1220px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

#barchartInfo {
  display: flex;
  justify-content: flex-start;
  padding-right: 100px;
  padding-top: 20px;
}

#detailstext {
  padding-left: 400px;
  font-size: 20px;
  font-weight: 400;
}

#backBtn {
  border: solid #f0f0f0 1px;
  border-radius: 3px;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  text-align: center;
  font-size: 15px;
   background-color: #009e73;
}
